body {
  font-family: Roboto:300;
  padding-top: 4rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.main {
  text-align: center;
  padding-top: 10px;
}

.center {
  margin: auto;
}

#map {
        margin-top: 20px;
        width: 100%;
        height: 450px;
        background-color: black;
        align-self: auto;
      }

.main {
  padding: 20px;
}

.bottom {
  padding-top: 10px;
}

.ping {
  max-width: 800px;
}

.navbar {
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0099f7, #f11712); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0099f7, #f11712); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
  max-width: 100%;
}

.card-block {
  padding: 20px;
}

.sortby {
  padding-bottom: 20px;
}

.card-text {
  font-size: 12px;
}


.navbar-brand {
  font-family: 'Oswald';
  font-size: 30px;
}

.footer {
  background-color: #2E2E2E;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.round {
  border-radius: 30px;
  font-size: 22px;
}

.xl {
  font-size: 34px;
  border-radius: 32px;
}

.img {
  background: linear-gradient(
                     rgba(20,20,20, .7),
                     rgba(20,20,20, .7)),
                     url("assets/img/banner.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  height: 200px;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}

.text {
  padding-top: 3rem;
  color: white;
  font-family: Oswald;
  vertical-align: middle;
  font-size: 50px;
}

.mainpage {
  padding-top: 10px;

}

#left {
}

.btn {
  font-family: Roboto:300;

}
